{% extends "base.html.twig" %}
{% block body %}
    <style>
        .container:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            background-image: url("/img/wp6025606-jungle-animals-wallpapers.jpg");
            background-repeat: repeat-y;
            background-position: 50% 0;
            background-size: cover;
        }
    </style>
        <div class="row"><h1 class="display-1">PetShop Demo</h1></div>
        <div class="row">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                <tr><th colspan="4"><h2>Pets Added ({{ pets_created|length }})</h2></th> </tr>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Date of Birth</th>
                </tr>
                </thead>
                {% for pet in pets_created %}
                    <tr>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.type() }}</td>
                        <td>{{ pet.price|format_currency('JPY') }}</td>
                        <td>{{ pet.dob|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
        </div>
        <div class="row">
            <h3>🌀Chipping Chippable Pets…</h3>
            <hr>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr><th colspan="5"><h2>Pets available for sale ({{ available_pets1|length }})</h2></th> </tr>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Date of Birth</th>
                    <th>Chipped?</th>
                </tr>
                </thead>
                <tbody>
                {% for pet in available_pets1 %}
                    <tr>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.type }}</td>
                        <td class="text-right">{{ pet.price|format_currency('JPY') }}</td>
                        <td>{{ pet.dob|date('Y-m-d') }}</td>
                        <td>{{ pet.isChipped ? '✅' : '❎' }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table><hr>
        </div>
        <div class="row">
            <h3>🌀Recording 5 sales over the past month…</h3>
            <hr>
        </div>
        <div class="row table-responsive">

            <table class="table table-striped table-hover table-responsive">
                <thead class="table-dark">
                <tr>
                    <th colspan="5" class="text-center"><h2>Sales Recorded ({{ sales|length }})</h2></th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Return By</th>
                    <th>Returnable?</th>
                    <th>Pet</th>
                </tr>
                </thead>
                <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.date|date('Y-m-d') }}</td>
                    <td>{{ sale.amount|format_currency('JPY') }}</td>
                    <td>{{ sale.returnBy|date('Y-m-d') }}</td>
                    <td>{{ sale.returnable ? '✅' : '❎' }}</td>
                    <td>{{ sale_pets[loop.index0].name }}</td>
                </tr>
                {%  endfor %}
                </tbody>
            </table>
        </div>
    <hr>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead class="table-dark"><tr><th colspan="2"><h2>Revenue Report</h2></th> </tr></thead>
            <tr><th class="table-dark">Total Sales:</th><td>{{ total|format_currency('JPY') }}</td></tr>
            <tr><th class="table-dark">Revenue Frozen:</th><td>{{ frozen|format_currency('JPY') }}</td></tr>
            <tr><th class="table-dark">Liquid Revenue:</th><td>{{ actual_revenue|format_currency('JPY') }}</td></tr>
        </table>
    </div>
    <hr>
    <div class="row">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr><th colspan="5"><h2>Final Pets available for sale ({{ available_pets2|length }})</h2></th></tr>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Date of Birth</th>
                <th>Chipped?</th>
            </tr>
            </thead>
            <tbody>
            {% for pet in available_pets2 %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.type }}</td>
                    <td class="text-right">{{ pet.price|format_currency('JPY') }}</td>
                    <td>{{ pet.dob|date('Y-m-d') }}</td>
                    <td>{{ pet.isChipped ? '✅' : '❎' }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
