{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="display-4">The Local Pet Shop</h1>
                <p class="lead">Load up on pets</p>
                <hr class="my-4">
            </div>
        </div>
        <div class=row">
            <p>Welcome to the petshop.  Please have a look at a quick demo of:</p>
            <ol>
                <li>provisioning a bunch of animals</li>
                <li>Chipping the animals available</li>
                <li>Checking to see which are available for sale</li>
                <li>Selling 3 of them</li>
                <li>Recording a past sale, tat is no longer returnable</li>
                <li>Reporting Sales data</li>
                <li>Checking again to see which are available</li>
            </ol>
            <p><strong><a href="/fixtures">Run the Demo</a></strong></p>
            <p><strong>Added 2021-06-29:</strong> Basic Sales Report</p>
            <p>Implemented, but not included is code to handle: optioning of pets (with a verification code to validate the purchaser is the optioner), and sales that could be returned to
                enable determining how many pets can safely be purchase considering possible returns.</p>
        </div>
    </div>
{%endblock body %}
